/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;	
}
/*common end*/
/*header start*/
header{
	padding: 20px 0;
}
.container {
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.logo {
	margin-top: 18px;
	width: 12%;
	/*border: 1px solid;*/
	float: left;
	
}
.logo img {
	width: 100%;
}
.menu {
	width: 70%;
	/*border: 1px solid;*/
	float: right;
}
.menu ul {
    float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	margin: 0 60px;
	padding: 4px 2px 3px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #626262;	
	border: 1px solid transparent;
	transition: .3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*perfect start*/
.perfect{
	padding: 100px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid;*/
}
.p_content{}
.c_light{
	margin-top: 25px;
	font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}
.c_title{
	margin: 15px 0 20px;
	font-size: 30px;
    font-weight: 400;
}
.c_text{
	line-height: 25px;

}
.mb_40 {
	margin-bottom: 40px;
}
/*perfect end*/
/*blog start*/
.blog{
	padding-bottom: 40px;
}
.b_wrapper{
	overflow: hidden;
}
.single_b{
	margin-bottom: 60px;
	width: 47%;
	/*border: 1px solid red;*/
	float: left;
}
.single_b:nth-child(even){
	margin-left: 6%;
}
.s_img{
	margin-bottom: 25px;
}
.s_img img {
    width: 100%;
}
/*blog end*/
/*news start*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin: 0 0 70px;
}
.s_form{
	position: relative;
	width: 400px;
    /*border: 1px solid;*/
    margin: 0 auto;
}
.s_form input {
	font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    width: 340px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 40px;
}
.s_form input:focus {
	outline: 0;
}
.s_form button {
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
    right: 0;
}
.s_form button:focus {
	outline: 0;
}
.s_form button img {}
/*news end*/
/*blog2 start*/
.blog2{
	padding-top: 100px;
}
.load{
	padding: 100px 0;
	text-align: center;
}
.load button{
	width: 165px;
	height: 60px;
	background-color: transparent;
	border-color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
	transition: .3s;
}
.load button:hover{
	background-color: #626262;
	color: #fff;
}
/*blog2 end*/
/*footer start*/
footer{
	min-height: 100px;
	/*border: 1px solid red;*/
	background-color: #f0f0f0;
	overflow: hidden;
}
.privacy{
	margin-top: 25px;
	width: 35%;
	/*border: 1px solid blue;*/
	float: left;
}
.privacy ul{}
.privacy ul li{
	list-style: none;
    float: left;
}
.privacy ul li a{
	text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    color: #626262;
    font-size: 14px;
}
.privacy ul li:last-child a{
	margin-right: 0;
}
.social{
	margin-top: 25px;
	width: 35%;
	/*border: 1px solid blue;*/
	float: right;
}
.social ul{
	float: right;
}
.social ul li{
	list-style: none;
    float: left;
}
.social ul li span{
	font-size: 14px;
}
.social ul li a{
	text-decoration: none;
    display: inline-block;
    margin: 0 18px;
    color: #626262;
}
.social ul li:last-child a{
	margin-right: 0;
}
/*footer end*/
